div {
	width: 100px;
    height: 100px;
    display: inline-block;
    border-style: outset;
    position: relative;
    background: white;
    border-color: red;
}

main {
	width: 326px;
    height: 326px;
    margin: auto;
    border-style: dashed;
    padding: 5px;
    background: lightblue;
}

h1 {
	text-align: center;
	font-family: 'Herculanum';
}

h2 {
	text-align: center;
	font-family: 'Herculanum';
	font-size: 1px;
}

p {
	
}

.cross {
	position: absolute;
	font-size: 100px;
    margin: 0;
    left: 18px;
    color: red;
}

.nought {
	position: absolute;
    font-size: 100px;
    margin: 0;
    left: 18px;
    color: blue;
}

.display {
	display: none;
}

.invisible {
	visibility: hidden;
}

.player1 {}
.player2 {}

button {
	font-family: 'Herculanum';
	display: flex;
    margin: auto;
    font-size: 25px;
    border-radius: 7px;
    background: lightblue;
    border-color: crimson;
}

button :hover {
	background: crimson;
}